.Burrito{
    width: 100%;
    margin: auto;
    height: 250px; 
    overflow: overflow-x;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2px;
    padding: 1px;
    background-color: rgba(255, 58, 84, 0.466);
    justify-content: space-evenly;
}
.container > div {
    border: 2px solid black;
    text-align: center;
}
@media (min-width: 1000px) and (min-height: 700px) {
    .Burrito{
        width: 700px;
        height: 600px;
    }
}

@media (min-width: 500px) and (min-height: 401px) {
    .Burrito{
        width: 450px;
        height: 400px;
    }
}

@media (min-width: 500px) and (min-height: 401px) {
    .Burrito{
        width: 350px;
        height: 300px;
    }
}