

.Beans {
    width: 92px;
    height: 92px;
    background: url('./svg/beans.svg');
    display: flex;
}
.Beef {
    width: 92px;
    height: 92px;
    background: url('./svg/beef.svg');
    display: flex;
}
.Beer {
    width: 92px;
    height: 92px;
    background: url('./svg/beer.svg');
}
.Cheese {
    width: 92px;
    height: 92px;
    background: url('./svg/cheese.svg');
}
.Chicken {
    width: 92px;
    height: 92px;
    background: url('./svg/chicken.svg');
}
.Chips {
    width: 92px;
    height: 92px;
    background: url('./svg/chips.svg');
}
.CornTortilla {
    width: 92px;
    height: 92px;
    background: url('./svg/corn_tortilla.svg');
}
.Egg {
    width: 92px;
    height: 92px;
    background: url('./svg/egg.svg');
}
.Fish {
    width: 92px;
    height: 92px;
    background: url('./svg/fish.svg');
}
.FlourTortilla {
    width: 92px;
    height: 92px;
    background: url('./svg/flour_tortilla.svg');
    display: flex;
}
.Fries {
    width: 92px;
    height: 92px;
    background: url('./svg/fries.svg');
}
.Guacamole {
    width: 92px;
    height: 92px;
    background: url('./svg/guacamole.svg');
    display: flex;
}
.HotPepper {
    width: 92px;
    height: 92px;
    background: url('./svg/hot_pepper.svg');
}
.HotSauce {
    width: 92px;
    height: 92px;
    background: url('./svg/hot_sauce.svg');
}
.Juice {
    width: 92px;
    height: 92px;
    background: url('./svg/juice.svg');
}
.Lettuce {
    width: 92px;
    height: 92px;
    background: url('./svg/lettuce.svg');
}
.Onion {
    width: 92px;
    height: 92px;
    background: url('./svg/onion.svg');
}
.Pork {
    width: 92px;
    height: 92px;
    background: url('./svg/pork.svg');
}
.Rice {
    width: 92px;
    height: 92px;
    background: url('./svg/rice.svg');
}
.Salsa {
    width: 92px;
    height: 92px;
    background: url('./svg/salsa.svg');
}
.Soda {
    width: 92px;
    height: 92px;
    background: url('./svg/soda.svg');
}
.SourCream {
    width: 92px;
    height: 92px;
    background: url('./svg/sour_cream.svg');
}
.Tofu {
    width: 92px;
    height: 92px;
    background: url('./svg/tofu.svg');
}
.Tomato {
    width: 92px;
    height: 92px;
    background: url('./svg/tomato.svg');
}
.Water {
    width: 92px;
    height: 92px;
    background: url('./svg/water.svg');
}
.Vegetables {
    width: 92px;
    height: 92px;
    background: url('./svg/vegetables.svg');
}

